<!DOCTYPE html>
<html>
<head>
    <title>Bing Maps Integration</title>
    <script src="https://www.bing.com/api/maps/mapcontrol?key=AnRNicGadpqWZhntIcPHtRyNh-RLVUlurcE2UYWnxTpHdWMaHCed9lbG0HulN5WR"></script>
    <style>
        #map {
            width: 800px;
            height: 600px;
        }
    </style>
</head>
<body>
    <h1>Bing Maps Integration</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="address" placeholder="Enter a destination address">
        <button type="submit">Search</button>
    </form>

    {% if address %}
        <h2>Nearby Places in {{ address }}</h2>
        <ul>
            {% for place in places %}
                <li>{{ place.name }} ({{ place.address.formattedAddress }})</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="map"></div>

    <script>
        function initMap() {
            var map = new Microsoft.Maps.Map('#map', {
                center: new Microsoft.Maps.Location(37.422, -122.084),
                zoom: 15
            });

            // Geocode example
            var address = "1600 Amphitheatre Parkway, Mountain View, CA";
            var geocodeRequest = "https://dev.virtualearth.net/REST/v1/Locations?addressLine=" + encodeURIComponent(address) + "&key=AnRNicGadpqWZhntIcPHtRyNh-RLVUlurcE2UYWnxTpHdWMaHCed9lbG0HulN5WR";
            fetch(geocodeRequest)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    var resourceSet = data.resourceSets[0];
                    if (resourceSet.estimatedTotal > 0) {
                        var location = resourceSet.resources[0].point.coordinates;
                        var latitude = location[0];
                        var longitude = location[1];

                        // Set the map center to the geocoded location
                        map.setView({ center: new Microsoft.Maps.Location(latitude, longitude) });

                        // Add a pushpin at the geocoded location
                        var pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude));
                        map.entities.push(pushpin);
    </script>




